html, body{
    height: 100%;
}
body{
    /* background-color:#ccfefe; */
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,172,1) 100%);
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    display: inline-block;
}
a.reg{
    color: #dedede;
}
.entry{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.form{
    /* border: 1px solid black; */
    border-radius: 0.5em;
    padding: 45px;
    background-color: #2c2b40;
    /*background-color: #3e4a4b;*/
}
p{
    color: #dedede;
}
.reg{
    color: #32ea7a;
    text-align: center;
}
.login, .pass{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border: 0;
    border-radius: 14px;
    height: 30px;
}
.submit{
    width: 100%;
    background-color: #15c469;
    border-radius: 14px;
    font-size: 18px;
    height: 40px;
    color:#fff;
    border: 0;
}
.wraper{
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    border: 1px solid black;
    border-top: 10px solid  #2c2b40; 
    
}
.menu{
    width: 200px;
    display: flex;
    background-color: #2c2b40;
    flex-direction: column;
}
a.link-menu{
    
    padding: 9px 0 9px 0;
    text-align: center;
    color: #eeeeee;
}
a.link-menu:hover{
    background-color: #0dc368;
    border-radius: 3px;
}

.form-input{
    padding: 8px 0 8px 0;
    background-color: #2c2b40;
    color: #f6f6f6;
}
.form-br{
    padding-left: 15px;
}
.content{
    background-color: #2c2b40;
    width: 100%;
    border-left: 1px solid #fff;
}
a.link-file{
    background-color: #2c2b40;
    padding: 1vh 3vh 1vh 3vh;
    color: #fff;
}
a.link-file:hover{
    color: #fff;
    background-color: #0dc368;
}

.img{
    width: 50px;
    height: 50px;
}


